:root {
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 8px;
    --article-card-height: 186px;
    --article-card-image-overflow-height: 26px;
    --article-card-image-overflow-hover-height: 30px;
}

#app {
    display: none;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}


/* Cards */

.card {
    box-shadow: var(--box-shadow);
}


/* Buttons */

button {
    min-height: -webkit-fill-available;
    align-items: center;
}


/* Loading bar */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E7EAF0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* Boostrap fixes */


/* Dropdown */

#_user_dropdown.dropdown-menu-right {
    margin: 3.5rem 0rem !important;
}

.dropdown-menu {
    box-shadow: var(--box-shadow);
}

.dropdown-menu-right {
    margin: 3rem 0rem;
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown__arrow {
    padding: 3px 0px 0px 0.5rem;
    margin-right: -0.15rem;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .9);
}


/* Navbar */

.navbar__collapse__menu:before {
    content: "";
    display: block;
    border-top-width: 0px;
    border-top-style: solid;
    margin: 0.75rem -1rem;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.navbar-divider {
    color: silver;
    margin: 0 20px;
}

button.admin__nav__link {
    background-color: transparent !important;
    width: 100%;
}

.navbar-vertical.navbar-light .navbar-nav>.admin__nav__item>.admin__nav__link:hover,
.navbar-vertical.navbar-light .navbar-nav>.admin__nav__item>form>.admin__nav__link:hover {
    background-color: #F5F9FC !important;
    border-left: .25rem solid #4e52d0;
    padding-left: 1.25rem !important;
}

.admin__nav__link.active {
    background-color: transparent !important;
    background-color: #F5F9FC !important;
    border-left: .25rem solid #4e52d0 !important;
    padding-left: 1.25rem !important;
}

.nav__icon {
    text-align: start;
}

.nav__label {
    opacity: 0;
    width: 100%;
    display: flex;
}

.sidebar {
    box-shadow: var(--box-shadow);
}

.sidebar.show .nav__label {
    opacity: 1;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}

.guest__menu {
    background-color: #5c60f5 !important;
}

.sidebar__collapse {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.sidebar__toggle {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-end !important;
}

[trigger-animation],
[trigger-hover],
[triggered-hover] {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

[trigger-hover]:hover [triggered-hover] {
    transform: scale(1.3);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}


/* Notifications */

.badge__collapse {
    border: 1px solid;
}


/* Toast */

.toast-top-right {
    top: 85px !important;
}


/* Table */

.column__overflow {
    width: fit-content;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
}


/* Cards */

.card__custom {
    padding: calc(var(--x-gutter-x) / 2);
}

.card__custom .card {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-height: var(--article-card-height);
}

.card__custom .card .card-image {
    width: 100%;
    max-width: 40%;
    min-width: 40%;
    min-height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.card-image img {
    height: calc(var(--article-card-height) + var(--article-card-image-overflow-height));
    width: auto;
    max-width: unset !important;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.card:hover .card-image img {
    height: calc(var(--article-card-height) + var(--article-card-image-overflow-height) + var(--article-card-image-overflow-hover-height));
}

.card__image__inner {
    display: inline-block;
    position: relative;
    right: -50%;
    width: fit-content;
}

.card__image {
    position: relative;
    left: -50%;
}


/* Others */

.text-justify {
    text-align: justify;
}
.text-right{
    text-align: right;

}
.text__overflow__2 {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}

.text__overflow__3 {
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}

@media (min-width: 992px) {
    .sidebar:not(.show) {
        max-width: 60px !important;
        overflow: hidden;
        white-space: nowrap;
    }
    .sidebar.show .translate-x-1\/2 {
        --x-translate-x: 0% !important;
        right: 1rem;
    }
    .sidebar.show .translate-y-n1\/2 {
        --x-translate-y: 0% !important;
    }
    .sidebar:not(.show) .admin__nav__link .badge__collapse {
        position: relative;
        /* Hide the text. */
        font-size: 0px;
        white-space: nowrap;
        overflow: hidden;
        margin-left: -27px !important;
        margin-top: -23px;
        min-width: 10px;
        min-height: 10px;
        max-width: 10px;
        max-height: 10px;
        padding: 0px;
        border: 1px solid;
        -webkit-transition: margin 200ms ease-in-out;
        -moz-transition: margin 200ms ease-in-out;
        -ms-transition: margin 200ms ease-in-out;
        -o-transition: margin 200ms ease-in-out;
        transition: margin 200ms ease-in-out;
    }
    .sidebar {
        position: fixed;
    }
    .main__container {
        margin-left: 60px;
    }
}

@media (max-width: 992px) {
    .collapse.navbar__collapse__menu.show .nav__label {
        opacity: 1;
    }
    .translate-x-1\/2 {
        --x-translate-x: 0% !important;
        right: 1rem;
    }
    .translate-y-n1\/2 {
        --x-translate-y: 0% !important;
    }
    .collapse.navbar__collapse__menu.show {
        position: absolute;
        top: 57px;
        width: 100%;
        background-color: #e7eaf0;
        padding: 0 24px;
        margin: 2px -24px;
    }
    .guest__menu {
        background-color: #5c60f5 !important;
    }
    #_navbar_collapse {
        box-shadow: var(--box-shadow);
    }
    .navbar__collapse__button {
        background-color: transparent !important;
        border: none;
        text-align: left;
        color: rgba(255, 255, 255, 0.85);
        font-family: var(--x-font-sans-serif);
        font-size: 0.925rem;
        padding-left: 0;
    }
    .navbar__collapse__button:active,
    .navbar__collapse__button:focus-visible,
    .navbar__collapse__button:focus,
    .navbar__collapse__button:hover,
    .navbar__collapse__button:active:focus {
        border: none;
        border-color: transparent;
        outline: none;
        box-shadow: none;
        color: #FFF;
        text-decoration: none;
    }
}